.cssnaming {
  border: 1px solid #dddddd;
  margin-top: 3%;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cssnaming__article {
    display: grid;
    padding: 0 2% 2% 2%;
    margin-top: 2%;
    border-bottom: solid 1px #dddddd;
    transition: all 0.1s ease-out;
}

.cssnaming__article--withResult {
    height: 900px;
    grid-template-areas: "title title title title" "desc desc desc desc" "btnresult . . btnreset" "resultContainer resultContainer resultContainer resultContainer" "subenyo subenyo subcss subcss" "html html ste ste" ". btn btn .";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 10fr 1fr 10fr 2fr;   
}

.cssnaming__article--withoutResult {
    height: 800px;
    grid-template-areas: "title title title title" "desc desc desc desc" "btnresult . . btnreset" "subenyo subenyo subcss subcss" "html html ste ste" ". btn btn .";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 10fr 2fr;    
}

.article__title {
    grid-area: title;
    font-size: 20px;
    font-weight: bold;
}
.article__desc {
    grid-area: desc;
}

.article__subtitle {
    font-size: 12px;
    margin-top: 1%;
    margin-bottom: 1%;
    align-self: end;
}

.article__subtitle--enyo {
    grid-area: subenyo;
    text-align: left;
}

.article__subtitle--css {
    grid-area: subcss;
    text-align: right;
}

.article__textarea {
    resize: none;
    background-color: #444444;
    color: #ffffff;    
}

.article__resultContainer {
    grid-area: resultContainer;
    display: flex;
    flex-direction: row;
}

.article__flexElement {
    flex: 1;
}

.article__resultContainer--hidden {
    display: none;
}

.article__textarea--idle {
    border: 1px solid #ffffff;
}

.article__textarea--wrong {
    border: 3px solid red;
}

.article__textarea--correct {
    border: 3px solid green;
}

.article__textarea--html {
    grid-area: html;
}
.article__textarea--style {
    grid-area: ste;
}
.article__code {
    grid-area: cd;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
}

.article__btn {
    grid-area: btn;
    margin: 10px 0px 5px 0px;
    border-radius: 3px;
    font-size: 20px;
    outline: none;
    color: white;
    background-color: #005662;
    transition: all 0.5s;
}

.article__btn:hover {
    color: #005662;
    background-color: white;
    border: 2px solid #005662;
    transition: all 0.5s;
}

.article__btnresult {
    grid-area: btnresult;
    margin: 10px 0px 5px 0px;
    border-radius: 3px;
    font-size: 20px;
    outline: none;
    color: white;
    background-color: #005662;
    transition: all 0.5s;  
}

.article__btnresult:hover {
    color: #000000;
    background-color: white;
    border: 2px solid #005662;
    transition: all 0.5s;
}

.article__btnreset {
    grid-area: btnreset;
    margin: 10px 0px 5px 0px;
    border-radius: 3px;
    font-size: 20px;
    outline: none;
    color: white;
    background-color: #005662;
    transition: all 0.5s; 
}

.article__btnreset:hover {
    color: #000000;
    background-color: white;
    border: 2px solid #005662;
    transition: all 0.5s;
}