.cssnaming-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    color: white;
    background-color: #005662;
    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cssnaming-header__title {
    flex: 2;
    font-size: 45px;
}

.cssnaming-header__subtitle {
    flex: 1;
}